<div class="container">        
        <h3>see information</h3>   
       
        <div>   
            <label>company Name</label>   
              <%= @companies.company_name %>   
        </div>
        <div>   
            <label>street_name</label>   
              <%= @companies.street_name %>   
        </div>

        <div>   
            <label>ext_num</label>   
              <%= @companies.ext_num %>   
        </div>
        <div>   
            <label>int_num</label>   
              <%= @companies.int_num %>   
        </div>
        <div>   
            <label>zip_code</label>   
              <%= @companies.zip_code %>   
        </div>
        <div>   
            <label>city</label>   
              <%= @companies.city %>   
        </div>
        <div>   
            <label>country</label>   
              <%= @companies.country %>   
        </div> 
         
      <div>   
        <%= link_to 'Back', { controller: 'companies', action: 'index'} %>   
      </div>   
</div>